@{
}

<ul class="nav nav-pills flex-column mb-auto">
@if((User.Identity?.IsAuthenticated ?? false) && Context.SessionData != null && Context.SessionData().ActiveGuild != null)
{
    <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link @Html.ActiveClass("Home")" aria-current="page"><span data-feather="home"></span>Home</a></li>
    <li class="nav-item"><a asp-controller="Weeklies" asp-action="Index" class="nav-link @Html.ActiveClass("Weeklies", null, "active", "text-secondary")" aria-current="page"><span data-feather="calendar"></span>Weeklies</a></li>
    <li class="nav-item"><a asp-controller="GodRaffle" asp-action="Index" class="nav-link @Html.ActiveClass("GodRaffle", "Index")" aria-current="page"><span data-feather="shield"></span>God Equip Raffle</a></li>
    @if (Html.ViewContext.RouteData.Values["controller"]?.ToString() == "GodRaffle")
    {
        <li class="nav-item nav-sub"><a asp-controller="GodRaffle" asp-action="CalendarMonth" class="nav-link @Html.ActiveClass("GodRaffle","CalendarMonth")" aria-current="page"><span data-feather="calendar"></span>Calendar (month)</a></li>
        <li class="nav-item nav-sub"><a asp-controller="GodRaffle" asp-action="CalendarWeek" class="nav-link @Html.ActiveClass("GodRaffle","CalendarWeek")" aria-current="page"><span data-feather="calendar"></span>Calendar (week)</a></li>
    }
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="zap"></span>Popup PVP</a></li>
    <li class="nav-item"><a asp-controller="Events" asp-action="Index" class="nav-link @Html.ActiveClass("Events")" aria-current="page"><span data-feather="calendar"></span>Events</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="box"></span>Items</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="smile"></span>Mobs</a></li>
    <li class="nav-item"><a asp-controller="MvpHunt" asp-action="Index" class="nav-link @Html.ActiveClass("MvpHunt", "Index")" aria-current="page"><span data-feather="crosshair"></span>MVP Hunters</a></li>
    <li class="nav-item"><a asp-controller="Exchange" asp-action="Index" class="nav-link @Html.ActiveClass("Exchange", "Index")" aria-current="page"><span data-feather="dollar-sign"></span>Exchange</a></li>
    <hr/>
    <li class="nav-item"><a asp-controller="Members" asp-action="Index" class="nav-link @Html.ActiveClass("Members", "Index")" aria-current="page"><span data-feather="user"></span>Members</a></li>
    @if(Html.ViewContext.RouteData.Values["controller"]?.ToString() == "Members")
    {
        <li class="nav-item nav-sub"><a asp-controller="Members" asp-action="Stats" class="nav-link @Html.ActiveClass("Members","Stats")" aria-current="page"><span data-feather="pie-chart"></span>Stats</a></li>
    }
    <li class="nav-item"><a asp-controller="Attendance" asp-action="Index" class="nav-link @Html.ActiveClass("Attendance", "Index")" aria-current="page"><span data-feather="user-check"></span>Attendance</a></li>
    @if (Html.ViewContext.RouteData.Values["controller"]?.ToString() == "Attendance")
    {
        <li class="nav-item nav-sub"><a asp-controller="Attendance" asp-action="Stats" class="nav-link @Html.ActiveClass("Attendance","Stats")" aria-current="page"><span data-feather="pie-chart"></span>Stats (overall)</a></li>
        <li class="nav-item nav-sub"><a asp-controller="Attendance" asp-action="StatsMember" class="nav-link @Html.ActiveClass("Attendance","StatsMember")" aria-current="page"><span data-feather="pie-chart"></span>Stats (per member)</a></li>
    }
    <li class="nav-item"><a asp-controller="Party" asp-action="Index" class="nav-link @Html.ActiveClass("Party", "Index")" aria-current="page"><span data-feather="users"></span>Parties</a></li>
    <li class="nav-item"><a asp-controller="Emoji" asp-action="Index" class="nav-link @Html.ActiveClass("Emoji", "Index")" aria-current="page"><span data-feather="smile"></span>Emoji</a></li>
    <li class="nav-item"><a asp-controller="Handbook" asp-action="Index" class="nav-link @Html.ActiveClass("Handbook", "Index")" aria-current="page"><span data-feather="book"></span>Handbook</a></li>
    <li class="nav-item"><a asp-controller="GameChat" asp-action="Index" class="nav-link @Html.ActiveClass("GameChat", "Index")" aria-current="page"><span data-feather="message-circle"></span>Ingame Chat</a></li>
    <hr/>
    <li class="nav-item"><a asp-controller="Quiz" asp-action="Index" class="nav-link text-white" aria-current="page"><span data-feather="help-circle"></span>Quiz</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="settings"></span>Custom Commands</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="lock"></span>Auto role Assignment</a></li>
}
else
{
    <li class="nav-item active"></li>
}
</ul>
