@{
}

<ul class="nav nav-pills flex-column mb-auto">
@if(User.Identity.IsAuthenticated && Context.SessionData != null && Context.SessionData().ActiveGuild != null)
{
    <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link @Html.ActiveClass("Home")" aria-current="page"><span data-feather="home"></span>Home</a></li>
    <li class="nav-item"><a asp-controller="Weeklies" asp-action="Index" class="nav-link @Html.ActiveClass("Weeklies", null, "active", "text-secondary")" aria-current="page"><span data-feather="calendar"></span>Weeklies</a></li>
    <li class="nav-item"><a asp-controller="GodRaffle" asp-action="Index" class="nav-link @Html.ActiveClass("GodRaffle", "Index")" aria-current="page"><span data-feather="shield"></span>God Equip Raffle</a></li>
    <li class="nav-item nav-sub"><a asp-controller="GodRaffle" asp-action="CalendarMonth" class="nav-link @Html.ActiveClass("GodRaffle","CalendarMonth")" aria-current="page"><span data-feather="calendar"></span>Calendar (month)</a></li>
    <li class="nav-item nav-sub"><a asp-controller="GodRaffle" asp-action="CalendarWeek" class="nav-link @Html.ActiveClass("GodRaffle","CalendarWeek")" aria-current="page"><span data-feather="calendar"></span>Calendar (week)</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="zap"></span>Popup PVP</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="calendar"></span>Events</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="box"></span>Items</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="smile"></span>Mobs</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="dollar-sign"></span>Exchange</a></li>
    <hr/>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="user"></span>Members</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="user-check"></span>Attendance</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="users"></span>Parties</a></li>
    <hr/>
    <li class="nav-item"><a asp-controller="Quiz" asp-action="Index" class="nav-link text-white" aria-current="page"><span data-feather="help-circle"></span>Quiz</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="settings"></span>Custom Commands</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-secondary" aria-current="page"><span data-feather="lock"></span>Auto role Assignment</a></li>
}
else
{
    <li class="nav-item active">Please login in<br/>the topright corner</li>
}
</ul>
