@{
    @model RomDiscord.Models.Pages.Exchange.Index;
}
<h1>Exchange Scanner Config</h1>
<div class="container border border-secondary p-3 mb-3">
    <h2>Settings</h2>
    <form asp-action="ChangeSettings" method="post">
        <div class="form-group">
            <label>Enabled</label><br/>
            <input type="checkbox" @(Model.Settings.Enabled ? "checked" : "") class="" name="Enabled" value="true">
        </div>
        <div class="form-group">
            <label>Save</label>
            <input class="btn btn-primary form-control" type="submit" value="Save" />
        </div>

    </form>
</div>
<div class="container border border-secondary p-3 mb-3">
    <form method="post" asp-action="AddItem">
        <select id="addfield" name="ItemId" class="form-control itemListComplete"></select>
        <select name="ChannelId" class="form-control">
            @foreach(var channel in Model.Channels.OrderBy(c => c.Position))
            {
                <!option value="@channel.Id" @(Model.Settings.LastChannel == channel.Id ? "selected":"")>#@channel.Name</!option>
            }
        </select>
        <input type="submit" class="btn btn-primary form-control" value="Add"/>
    </form>
</div>

<div class="container border border-secondary p-3 mb-3">
    <h2>Exchange notifications</h2>
    <ul class="list-group">
    @foreach(var item in Model.PublicNotifications)
    {
        <li class="list-group-item bg-dark text-white">
            <div class="row">
                <div class="col">
                    @item.ChannelId
                    <form onsubmit="return changeChannel(@item.ExchangePublicNotificationId, this)">
                    <select name="ChannelId" class="form-control channelListComplete" placeholder="#@(Model.Channels.FirstOrDefault(c => c.Id == item.ChannelId)?.Name ?? "")">
@*                        @foreach(var channel in Model.Channels.OrderBy(c => c.Position))
                        {
                            <!option value="@channel.Id" @(item.ChannelId == channel.Id ? "selected":"")>#@channel.Name</!option>
                        }*@
                    </select>
                    </form>
                </div>
                <div class="col">@(Model.ItemDb.db.ContainsKey(item.ItemId) ? Model.ItemDb[item.ItemId].NameZh : "")</div>
                <div class="col"><form method="post" asp-action="RemoveNotification" asp-route-itemid="@item.ItemId" asp-route-channelid="@item.ChannelId"><input type="submit" value="Remove" class="btn btn-danger btn-sm"></form></div>
            </div>
        </li>
    }
    </ul>
</div>

<script>
function changeChannel(id, src)
{
    console.log($(src).find("input[type='hidden']").val());
    console.log($(src).find("input[type='hidden']"));
    $.postJSON("/Exchange/ChangeChannel/" + id + "/" + $(src).find("input[type='hidden']").val(),
    {
    }, function (data) {
        alert(data);
    });
    return false;
}

$(function()
{
    setTimeout(function()
    {
        $("#addfield").focus();
    }, 100);
});
</script>